<app-navegacion></app-navegacion>
<div style="padding-top: 10%; width: 100%;  text-align: center;">

    <h2>Proceso Terminado</h2>

</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 70rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Estudiante: Juan Alberto Escobar Fernandez</h5>
                    <h5 class="card-title">Registro Académico: 201500000</h5>
                    <h5 class="card-title">CUI: 3025302980224</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col">
            <h5>Proceso iniciado: 05/05/2021</h5>
        </div>
        <div class="col">
            <h5>Proceso terminado: 20/05/2021</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h5>Resolución:</h5>
        </div>
        <div class="col">
            <h5 style="color: green; float: left;"> APROBADO</h5>
        </div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title">Listado de cursos aprobados</h5>
                    <p>Campus central- Licenciatura en ciencias juridicas y sociales, abogado y notario</p>
                    <ul class="list-group">
                        <li class="list-group-item">Historia</li>
                        <li class="list-group-item">Derecho penal 1</li>
                        <li class="list-group-item">Derecho penal 2</li>
                        <li class="list-group-item">Literatura</li>
                    </ul>
                    <button type="button" class="btn btn-primary">Descargar Certificado de cursos</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <h5 class="card-title">Listado de cursos equivalentes</h5>
                    <p>CUNOC- Licenciatura en ciencias juridicas y sociales, abogado y notario</p>
                    <ul class="list-group">
                        <li class="list-group-item">Historia</li>
                        <li class="list-group-item">Derecho penal 1</li>
                        <li class="list-group-item">Derecho penal 2</li>
                        <li class="list-group-item">Literatura</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col">
            <button style="width: 200px;" class="btn btn-danger" type="submit"> Regresar </button>
        </div>

    </div>

</div>