
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <img src="https://res.cloudinary.com/dst1u4bij/image/upload/v1674682728/Usac_logo_bcd5me.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="#">Gestión de Equivalencias Administrador</a>
        <img src="https://res.cloudinary.com/dst1u4bij/image/upload/v1674683491/logo_derecho_rr2uai.png" alt="Logo" width="80" height="90" class="d-inline-block align-text-top">
        
    </div>

</nav>


