<div class="container">
    <h1>Google reCAPTCHA</h1>

    <!-- HTML Form -->
    <form action="action.php" method="post">
        <input type="text" name="name" id="name" 
            placeholder="Enter Name" required>
        <br>

        <!-- div to show reCAPTCHA -->
        <div class="g-recaptcha" 
            data-sitekey="6Lc0MZIlAAAAAIpQfGl4IdhZwtLG5B9M2iidU3ZH">
        </div>
        <br>

        <button type="submit" name="submit_btn">
            Submit
        </button>
    </form>
</div>

