<app-navegacion></app-navegacion>
<!-- <div style="padding-top: 10%; width: 100%; padding-left: 25%;">

    <h2>JUAN ALBERTO ESCOBAR FERNANDEZ</h2>
    <h4>Carrera: Licenciatura en ciencias jurídicas y sociales, abogado y notario</h4>
    <h4>Centro universitario: Campus central</h4>

</div>
<hr> -->

<div class="container text-center mt-5">


    <!-- <div class="row my-5">
        <div class="alert border border-primary my-5"  style="background-color: white;" id="passwordsNoMatchRegister" role="alert"  >
            <h3> Juan Alberto Escobar Fernandez</h3>
            <h3 style="font-family: 'Courier New', Courier, monospace;"> Juan Alberto Escobar Fernandez</h3>
            <h3 style="font-family:Arial, Helvetica, sans-serif;"> Juan Alberto Escobar Fernandez</h3>
            <h3 style="font-family: 'Times New Roman', Times, serif;"> Juan Alberto Escobar Fernandez</h3>
            <h5 style="font-family:Arial, Helvetica, sans-serif;"> Facultad de Ciencias jurídicas y Sociales</h5>
            <h5 style="font-family: 'Times New Roman', Times, serif;"> Lorem ipsum dolor sit amet consectetur adipisi</h5>
            <h5> Licenciatura en Ciencias</h5>
        
        </div>
    </div> -->

    <div class="row mt-5">
        <div class="col">
            <h1 class="my-5"> Gestión de Equivalencia de Cursos</h1>
            <hr>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <div class="alert alert-info" role="alert">
                Inicia un nuevo proceso de gestión de equivalenicas o revisa procesos iniciados anteriormente
            </div>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col">
            <button *ngIf="!hayProcesoActivo" (click)="goProcesoNuevo()" type="button" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
                Iniciar nuevo proceso</button>

            <button *ngIf="hayProcesoActivo" (click)="alertaProcesoActivo()" type="button" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
                Iniciar nuevo proceso</button>


            <!-- <button (click)="goProcesoNuevo()" style="margin-left: 10%; margin-top: 2%;" type="button"
                class="btn btn-secondary">Iniciar nuevo
                proceso</button> -->
        </div>
        <!-- <div class="col">
             <div class="alert alert-danger" role="alert">
                No se puede iniciar un proceso nuevo mientras haya un proceso activo vigente
            </div> 
        </div> -->
    </div>

    <div class="row justify-content-center">
        <div class="col-6 ">
            <div *ngIf="mostrarAlerta" class="mt-3 alert alert-danger" role="alert">
                No se puede iniciar un nuevo proceso con un proceso activo vigente
            </div>
        </div>
    </div>

    <div class="row my-3">

        <table class="table border border-primary tabla">
            <thead>
                <th> Estado </th>
                <th> Fecha de inicio</th>
                <th> Fecha de finalizacion</th>
                <th></th>
            </thead>
            <tbody>

                <tr *ngFor="let solicitud of solicitudes">
                    <td *ngIf="solicitud.resultado==null">Activo</td>
                    <td *ngIf="solicitud.resultado!=null">Finalizado</td>
                    <td>{{solicitud.fecha_inicio}}</td>
                    <td *ngIf="solicitud.fecha_final==null"> --- </td>
                    <td *ngIf="solicitud.fecha_final!=null">{{solicitud.fecha_final}}</td>
                    <td *ngIf="solicitud.resultado==null">
                        <button (click)="goRevisarActivo(solicitud.id)" type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>

                        </button>
                    </td>
                    <td *ngIf="solicitud.resultado!=null">
                        <button (click)="goRevisarTerminado(solicitud.id)" type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>

                        </button>
                    </td>
                </tr>

                <!-- <tr>
                    <td> Activo</td>
                    <td> 04/02/2022</td>
                    <td> --- </td>
                    <td>
                        <button (click)="goRevisarActivo()" type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                              </svg>

                        </button>
                    </td>


                </tr>
                <tr>
                    <td> Finalizado</td>
                    <td> 04/02/2022</td>
                    <td> 04/02/2022</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                              </svg>

                        </button>
                    </td>

                </tr>
                <tr>
                    <td> Finalizado</td>
                    <td> 04/02/2022</td>
                    <td> 04/02/2022</td>
                    <td>
                        <button (click)="goRevisarTerminado()" type="button" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                              </svg>

                        </button>
                    </td>

                </tr> -->
            </tbody>
        </table>

    </div>

</div>




<!-- <div style="padding-top: 5%;">

    <div class="container text-center">
        <div class="row">
            <div class="col-sm">

                <div class="card text-bg-primary mb-3" style="max-width: 18rem; float: left;">
                    <div class="card-header">Proceso activo</div>
                    <div class="card-body">
                        <h5 class="card-title">Iniciado el 05/10/2022</h5>
                        <button (click)="goRevisarActivo()" type="button" class="btn btn-success"> Revisar </button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-bg-secondary mb-3" style="max-width: 18rem; float: left;">
                    <div class="card-header">Proceso terminado</div>
                    <div class="card-body">
                        <h5 class="card-title">Iniciado el 02/04/2022</h5>
                        <h5 class="card-title">Terminado el 02/05/2022</h5>
                        <button (click)="goRevisarTerminado()" type="button" class="btn btn-success"> Revisar </button>
                    </div>
                </div>

            </div>
            <div class="col-sm">
                <div class="card text-bg-secondary mb-3" style="max-width: 18rem; float: left;">
                    <div class="card-header">Proceso terminado</div>
                    <div class="card-body">
                        <h5 class="card-title">Iniciado el 02/04/2021</h5>
                        <h5 class="card-title">Terminado el 02/05/2021</h5>
                        <button type="button" class="btn btn-success"> Revisar </button>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div> -->